@media print {
  #main-title,
  #editor {
    display: none;
  }
}
#main-title {
  /* color:#ccc; */
  cursor: pointer
}
textarea#abc,
.abcjs-inline-audio {
  width: 100%;
}
p {
  max-width: 600px;
}
#warnings {
  color: #ccc;
}
